.header
{
    text-align: center;
    background-color: red;
}
.Image
{
    text-align: center;
}
.recipes
{
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}